@import './variables.scss';
@import './functions.scss';

:root {

  --containerMaxWidth: $largeBreak;

  @include animate {
    --transitionSpeed: .2s;
  }

  --padding: 1rem;
  @include medium() {
    --padding: 2rem;
  }

  --px1: .25rem;
  --px2: calc(2 * var(--px1));

  // --colorDark: #1e053f;
  // --colorLight: #fff7ff;
  // --colorPrimary: #192368;
  // --colorActive: #ed6554;
  // --colorHighlight: #7c1863;
  // --colorDisabled: #2f323a;
  --colorDark: #0f0f0f;
  --colorLight: #ffffff;
  --colorPrimary: rebeccapurple;
  --colorActive: rebeccapurple;
  --colorHighlight: rebeccapurple;
  --colorDisabled: #78757a;
}

html {
  font-size: 12px;

  body {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
  }
}

* {
  @include animate {
    scroll-behavior: smooth;
  }
}